body {
   background-color: powderblue;
   margin: 0;
   padding: 0;
   background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.table tr td:nth-child(2) { width:100% }

.Cart-Container{
 width: 70%;
 height: 85%;
 background-color: #ffffff;
 border-radius: 20px;
 box-shadow: 0px 25px 40px #1687d933;
}

.Cart-Items{
 margin: auto;
 width: 90%;
 height: 30%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.image-box{
 width: 15%;
 text-align: center;
 height: 200px;
 width: 200px;
}
.about{
 height: 100%;
}
.title{
 padding-top: 5px;
 line-height: 10px;
 font-size: 32px;
 font-family: ‘Open Sans’;
 font-weight: 800;
 color: #202020;
}
.subtitle{
 line-height: 10px;
 font-size: 18px;
 font-family: ‘Open Sans’;
 font-weight: 600;
 color: #909090;
}


.counter{
 width: 15%;
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.btn{
 width: 40px;
 height: 40px;
 border-radius: 50%;
 background-color: #d9d9d9;
 display: flex;
 justify-content: center;
 align-items: center;
 font-size: 20px;
 font-family: ‘Open Sans’;
 font-weight: 900;
 color: #202020;
 cursor: pointer;
}
.count{
 font-size: 20px;
 font-family: ‘Open Sans’;
 font-weight: 900;
 color: #202020;
}

.prices{
 height: 100%;
 text-align: right;
}
.amount{
 padding-top: 20px;
 font-size: 26px;
 font-family: ‘Open Sans’;
 font-weight: 800;
 color: #202020;
}

/* .kiss-boots {
  width: 100px;
  height: 100px;
  display: inline-block;
  background-image: url('https://img.ssensemedia.com/images/f_auto,q_auto:best/221232M223024_1/rick-owens-black-grilled-platform-boots.jpg');
  background-size: 100px 100px;
  background-repeat: no-repeat;
} */

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button:focus,
input:focus {
  outline:0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.kiss-boots {
  background-image: url('https://img.ssensemedia.com/images/f_auto,q_auto:best/221232M223024_1/rick-owens-black-grilled-platform-boots.jpg'), url('https://img.ssensemedia.com/images/f_auto,q_auto:best/221232M223024_1/rick-owens-black-grilled-platform-boots.jpg');
  background-position: 0px 0px, right 3em bottom 2em;
}
